
  /***********/
 /* Globals */
/***********/

body {
	font-family: 'Segoe UI', sans-serif;
	font-size: 14px;
}
* { 
	box-sizing: border-box;
	margin: 0;
	/* outline: red dashed 1px; */
}

a {
	text-decoration: none;
	color: dodgerblue;
}
a:hover {
	color: skyblue;
}

h1, h2, h3, h4, p, ul, ol {
	margin: 0 8px 8px 0px;
	text-align: justify;
	clear: both;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	text-align: left;
}

label {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center
}
label span {
	margin: 0 2px;
	margin-right: 4px;
	text-align: end;
}

.small {
	font-size: small;
}
.small input[type=checkbox] {
	vertical-align: middle;
}

input[type=number],
input[type=time] {
	font-family: 'Segoe UI', monospace;
}





  /**********/
 /* Layout */
/**********/

body {
	min-height: 100vh;
	position: relative;
	background: SkyBlue;
}

header .content {
	display: flex; 
	justify-content: space-between; 
}
header h1 {
	font-size: xx-large;
	margin: 0;
}

main {
	margin: 0 auto;
}
header .content,
section {
	padding: 4px 8px;
	/* padding-top: 4px; */
	margin: 8px;
	background: snow;
}

@media (min-width: 800px) {
	header .content,
	section {
		padding: 8px 12px;
		/* padding-top: 8px; */
		margin: 8px;
	}
}





  /***********/
 /* Helpers */
/***********/

.nice-container {
	width: 100%;
}
@media (min-width: calc(960px - 32px)) {
	.nice-container {
		width: 864px;
		margin-left: auto;
		margin-right: auto;
	}
}
/* @media (min-width: 1200px) {
	.nice-container {
		width: calc(1200px - 32px);
	}
} */

.header-with-aside {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between; 
	justify-items: center;
	align-items: center;
	margin-bottom: 8px;
}
.header-with-aside > * {
	display: block;
	flex-grow: 1;
}
.header-with-aside > :first-child {
	align-self: stretch;
	justify-self: self-start;
	margin: 0;
	flex-grow: 99;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}
.flex-evenly {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.flex-center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.spaced > * {
	margin: 4px;
}





  /******************/
 /* Specific stuff */
/******************/

@media (max-width: 440px) { 
	header h1 {
		font-size: x-large;
		align-self: center;
	}
}

#status .grid {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	text-align: end;
}
#status .grid label {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
}
#status .grid output {
	text-align: start;
	font-size: large;
}

#status .grid .subgrid.columns-70-30 label {
	grid-template-columns: 70% 30%;
}

#status .header-with-aside label {
	margin-left: 16px;
}
#status .header-with-aside output {
	display: inline-block;
	text-align: end;
	min-width: 40px;
}

output.error {
	color: FireBrick;
}

output[name=heating] {
	color: SteelBlue;
}
output[name=heating].active {
	color: OrangeRed;
}
output[name=waterLevel].active {
	color: RoyalBlue;
}



#colors .grid {
	display: grid;
	grid-template-columns: 0.2fr 1.5fr 0.02fr;
	grid-gap: 8px;
	text-align: end;
}
#colors input[type=range] {
	height: 24px;
	background: #d3d3d3;
	outline: none;
	-webkit-appearance: none;
	opacity: 0.8;
	transition: opacity .2s;
}
#colors input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 24px;
	height: 24px;
	cursor: pointer;
}
#colors input[type=range]:hover {
	opacity: 1;
}

#colors input[type=range][name=red]::-webkit-slider-thumb {
	background: FireBrick;
}
#colors input[type=range][name=green]::-webkit-slider-thumb {
	background: ForestGreen
}
#colors input[type=range][name=blue]::-webkit-slider-thumb {
	background: DodgerBlue;
}
#colors input[type=range][name=white]::-webkit-slider-thumb {
	background: GoldenRod;
}

#colors .grid input[type=number] {
	display: inline-block;
	line-height: 8px;
	width: 48px;
}

.colors-cycle table {
	margin: 8px auto;
	/* table-layout: fixed; */
}
.colors-cycle table input[type=time] {
	display: block;
	margin: auto;
}
.colors-cycle table input[type=number] {
	display: block;
	margin: auto;
	width: 48px;
	text-align: end;
}
.colors-cycle table th {
	font-size: small;
	font-weight: normal;
}

.colors-cycle table tbody tr:first-of-type td:first-of-type button:first-of-type {
	visibility: hidden;
}

.colors-cycle .template {
	display: none;
}



#heating input[type=number] {
	width: 56px;
}



#minerals .grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
#minerals .grid .item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 4px;
}
#minerals .grid .item h3 {
	text-align: center;
}
#minerals .grid .item input[type=number] {
	width: 48px;
}
#minerals .grid .item label {
	display: grid;
	grid-template-columns: 64px auto auto;
	align-items: center;
}
@media (max-width: 540px) { 
	#minerals .grid {
		grid-template-columns: 1fr;
	}
}



svg#chart .line {
	fill: none;
	stroke-width: 1.5px;
	stroke: DodgerBlue;
}
svg#chart .line--rtcTemperature {
	stroke: GoldenRod;
}
svg#chart .line--waterTemperature {
	stroke: FireBrick;
}
svg#chart .line--phLevel {
	stroke: ForestGreen;
}
svg#chart .zoom {
	cursor: move;
	fill: none;
	pointer-events: all;
}
svg#chart .grid line {
	stroke-width: 1.0px;
	stroke: gray;
}
svg#chart .tooltip {
	stroke-width: 2.5px;
	stroke: none;
}
svg#chart .hoverLine {
	stroke-width: 2.5px;
	stroke: none;
}
svg#chart .hoverLine.show {
	stroke: gray;
}
svg#chart .tooltip body {
	height: auto;
	padding: 8px;
	background: #87CEEB40;
	font-size: small;
	font-weight: bold;
}
svg#chart .tooltip .text--rtcTemperature {
	color: GoldenRod;
}
svg#chart .tooltip .text--waterTemperature {
	color: FireBrick;
}
svg#chart .tooltip .text--phLevel {
	color: ForestGreen;
}




