
  /***********/
 /* Globals */
/***********/

body {
	font-family: 'Segoe UI', sans-serif;
	font-size: 14px;
}
* { 
	box-sizing: border-box;
	margin: 0;
	/* outline: red dashed 1px; */
}

a {
	text-decoration: none;
	color: dodgerblue;
}
@media (hover: hover) {
	a:hover {
		color: skyblue;
	}
}
@media (pointer: coarse) {
	a {
		padding: 2px;
	}
	a:hover {
		color: dodgerblue;
	}
}

h1, h2, h3, h4, p, ul, ol, figure, label {
	margin: 0 8px 8px 0px;
	clear: both;
}
h1, h2, h3, h4, p, ul, ol {
	text-align: justify;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	text-align: left;
}

figure {
	overflow-x: auto;
}

label {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: center;
}
label span {
	margin: 0 2px;
	text-align: end;
}
label span:first-of-type {
	margin-right: 4px;
}
label input + span {
	margin-left: 4px;
	text-align: left;
}
label input[type=radio],
label input[type=checkbox] {
	transform: translate(0px, 1px);
}

.small {
	font-size: small;
}
.small input[type=checkbox] {
	vertical-align: middle;
}

input:invalid {
	border: 2px solid red;
	border-radius: 2px;
}

input[type=number],
input[type=time] {
	font-family: 'Segoe UI', monospace;
	width: auto;
	text-align: end;
}





  /**********/
 /* Layout */
/**********/

body {
	min-height: 100vh;
	position: relative;
	background: SkyBlue;
}

header .content {
	display: flex; 
	justify-content: space-between; 
}
header h1 {
	font-size: xx-large;
	margin: 0;
}

main {
	margin: 0 auto;
}
header .content,
section {
	padding: 4px 8px;
	/* padding-top: 4px; */
	margin: 8px;
	background: snow;
}

@media (min-width: 800px) {
	header .content,
	section {
		padding: 8px 12px;
		/* padding-top: 8px; */
		margin: 8px;
	}
}





  /***********/
 /* Helpers */
/***********/

.nice-container {
	width: 100%;
}
@media (min-width: calc(960px - 32px)) {
	.nice-container {
		width: 864px;
		margin-left: auto;
		margin-right: auto;
	}
}
/* @media (min-width: 1200px) {
	.nice-container {
		width: calc(1200px - 32px);
	}
} */

.loose-table {
	border-spacing: 0;
}
.loose-table th {
	font-weight: normal;
}
.loose-table th,
.loose-table td {
	padding: 2px 8px;
	border: 1px black solid;
	border-left: none;
	border-top: none;
}
.loose-table th:last-of-type,
.loose-table td:last-of-type {
	border-right: none;
}
.loose-table tbody > tr:last-of-type > td {
	border-bottom: none;
}

.header-with-aside {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between; 
	justify-items: center;
	align-items: center;
	margin-bottom: 8px;
}
.header-with-aside > * {
	display: block;
	flex-grow: 1;
}
.header-with-aside > :first-child {
	align-self: stretch;
	justify-self: self-start;
	margin: 0;
	flex-grow: 99;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}
.flex-evenly {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.flex-center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.spaced > * {
	margin: 4px;
}

dialog {
	margin: auto;
	width: 100%;
	min-width: 30vw;
	min-height: 20vw;
	border: none;
	box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.7);
	opacity: 0;
}
dialog::backdrop {
	background: rgba(0, 0, 0, 0.3);
	opacity: 0;
}
dialog.open::backdrop,
dialog.open {
	opacity: 1;
	transition: opacity .2s;
}
dialog.closing::backdrop,
dialog.closing {
	opacity: 0;
	transition: opacity .2s;
}
@media (min-width: calc(960px - 32px)) {
	dialog {
		width: 480px;
	}
}





  /******************/
 /* Specific stuff */
/******************/

@media (max-width: 440px) { 
	header h1 {
		font-size: x-large;
		align-self: center;
	}
}

#status .grid {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	text-align: end;
}
#status .grid label {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	margin: 0;
}
#status .grid output {
	text-align: start;
	font-size: large;
}

#status .grid .subgrid.columns-70-30 label {
	grid-template-columns: 70% 30%;
}

#status .header-with-aside label {
	margin-left: 16px;
}
#status .header-with-aside output {
	display: inline-block;
	text-align: end;
	min-width: 40px;
}

output.error {
	color: FireBrick;
}

output[name=heatingStatus][data-value="1"] {
	color: OrangeRed;
}
output[name=heatingStatus][data-value="-1"] {
	color: SteelBlue;
}

output[name=waterLevel].active {
	color: RoyalBlue;
}



#colors .grid {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-gap: 8px;
	text-align: end;
}
#colors .grid span {
	display: block;
	font-size: smaller;
	align-self: center;
}
#colors input[type=range] {
	height: 24px;
	background: #d3d3d3;
	outline: none;
	-webkit-appearance: none;
	opacity: 0.8;
	transition: opacity .2s;
}
#colors input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 24px;
	height: 24px;
	cursor: pointer;
}
#colors input[type=range]:hover {
	opacity: 1;
}

#colors input[type=range][name=red]::-webkit-slider-thumb {
	background: FireBrick;
}
#colors input[type=range][name=green]::-webkit-slider-thumb {
	background: ForestGreen
}
#colors input[type=range][name=blue]::-webkit-slider-thumb {
	background: DodgerBlue;
}
#colors input[type=range][name=white]::-webkit-slider-thumb {
	background: GoldenRod;
}

#colors input[type=number] {
	border: 1px solid gray;
	border-radius: 2px;
}
#colors .grid input[type=number] {
	display: inline-block;
	width: 54px;
}

#colors input[type=number][name=red] {
	box-shadow: inset 16px 0px 16px -16px firebrick;
}
#colors input[type=number][name=green] {
	box-shadow: inset 16px 0px 16px -16px ForestGreen;
}
#colors input[type=number][name=blue] {
	box-shadow: inset 16px 0px 16px -16px DodgerBlue;
}
#colors input[type=number][name=white] {
	box-shadow: inset 16px 0px 16px -16px GoldenRod;
}

.colors-cycle table {
	margin: 0px auto;
}
.colors-cycle th {
	font-size: small;
	font-weight: normal;
	vertical-align: bottom;
}
.colors-cycle input[type=number] {
	width: 64px;
}
.colors-cycle button,
.colors-cycle input {
	height: 100%;
	width: 100%;
}
@media (max-width: 560px) { 
	.colors-cycle thead {
		display: none;
	}
	.colors-cycle tbody tr {
		display: grid;
		grid-template-areas: "u t t c s p p . x"
							 "d r r g g b b w w";
		margin-bottom: 8px;
	}
	.colors-cycle tbody tr td:nth-child(1) { grid-area: x; }
	.colors-cycle tbody tr td:nth-child(2) { grid-area: u; }
	.colors-cycle tbody tr td:nth-child(3) { grid-area: d; }
	.colors-cycle tbody tr td:nth-child(4) { grid-area: t; }
	.colors-cycle tbody tr td:nth-child(5) { grid-area: r; }
	.colors-cycle tbody tr td:nth-child(6) { grid-area: g; }
	.colors-cycle tbody tr td:nth-child(7) { grid-area: b; }
	.colors-cycle tbody tr td:nth-child(8) { grid-area: w; }
	.colors-cycle tbody tr td:nth-child(9) { grid-area: p; }
	.colors-cycle tbody tr td:nth-child(10) { grid-area: s; }
	.colors-cycle tbody tr td:nth-child(11) { grid-area: c; }
}

.colors-cycle table tbody tr:first-of-type td:first-of-type button:first-of-type {
	visibility: hidden;
}

.colors-cycle .template {
	display: none;
}



#heating input[type=number] {
	width: 56px;
}



#minerals .grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
#minerals .grid .item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 4px;
}
#minerals .grid .item h3 {
	text-align: center;
}
#minerals .grid .item input[type=number] {
	width: 48px;
}
#minerals .grid .item label {
	display: grid;
	grid-template-columns: 64px auto auto;
	align-items: center;
}
@media (max-width: 540px) { 
	#minerals .grid {
		grid-template-columns: 1fr;
	}
}



dialog#ph-calibration input[type=number] {
	width: 56px;
}
dialog#ph-calibration table {
	margin: 0 auto;
	margin-bottom: 8px;
	text-align: center;
}

dialog#network-settings label {
	flex-wrap: nowrap;
	justify-content: start;
}
dialog#network-settings figure {
	padding-left: 24px;
}
dialog#network-settings .grid label {
	display: grid;
	grid-template-columns: 64px auto;
	align-items: center;
}
dialog#network-settings label.mask {
	grid-template-columns: auto auto;
	padding-left: 16px;
}
dialog#network-settings label.mask input {
	width: 40px;
}



svg#chart .line {
	fill: none;
	stroke-width: 1.5px;
	stroke: DodgerBlue;
}
svg#chart .line--rtcTemperature {
	stroke: GoldenRod;
}
svg#chart .line--waterTemperature {
	stroke: FireBrick;
}
svg#chart .line--phLevel {
	stroke: ForestGreen;
}
svg#chart .zoom {
	cursor: move;
	fill: none;
	pointer-events: all;
}
svg#chart .grid line {
	stroke-width: 1.0px;
	stroke: gray;
}
svg#chart .tooltip {
	stroke-width: 2.5px;
	stroke: none;
}
svg#chart .hoverLine {
	stroke-width: 2.5px;
	stroke: none;
}
svg#chart .hoverLine.show {
	stroke: gray;
}
svg#chart .tooltip body {
	height: auto;
	padding: 8px;
	background: #87CEEB40;
	font-size: small;
	font-weight: bold;
}
svg#chart .tooltip .text--rtcTemperature {
	color: GoldenRod;
}
svg#chart .tooltip .text--waterTemperature {
	color: FireBrick;
}
svg#chart .tooltip .text--phLevel {
	color: ForestGreen;
}




